.prepare-page {
    display: flex;
    gap: 20px;
}
.prepare-sidebar {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}
.prepare-fields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.prepare-viewer {
    width: 100%;
    height: 100%;
}