.user-page {
    display: flex;
    gap: 20px;
}
.user-content {
    background-color: #fff;
    flex: 1;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
}